{% extends "index.html" %}

{% block content %}

<center>
<br><br><br>
<h1 style="color: #770fdb;">Build your routine</h1>
<br><br><br>
<h4>Pick the type of routine that you would like to build for yourself based on your prefrence!</h4>
<br><br><br>

</center>
<br><br><br>
<button id='build3' style="margin-left: 30%" type="submit" onclick="window.location.href='/build-routine/3'">3-step</button>  <button id='build5' style="margin-left: 15%" type="submit" onclick="window.location.href='/build-routine/5'">5-step</button>


{% endblock %}
