{% extends "index.html" %}

{% block content %}
  <div class="home-body">
    <h1 class="home-h1">The Skincare Lab</h1>
    <p class="home-p">Unlock the secrets of glowing skin, one click at a time.
      <br>Learn, test, and build your ultimate skincare routine effortlessly!
      <br><br>Your personalized journey to understanding skincare begins here.
    </p>
    <p></p><p></p><p></p>

    <div class="button-container">
      <a href="/skin-type/1" class="start-btn" id="identify-skintype"> KNOW YOUR SKIN TYPE</a>
      <a href="{{ url_for('learn', product='cleanser') }}" class="start-btn" id="start-learning">LEARN ABOUT PRODUCTS</a>
      <a href="{{ url_for('build') }}" class="start-btn" id="build-routine">BUILD YOUR ROUTINE</a>
    </div>
  </div>
  {% endblock %}
