{% extends "index.html" %}

{% block content %}

<div class="quiz-container">
  <div class="quiz-header">
    <h1>QUIZ</h1>
    <p>Fill in the Blank:</p>
    <p class="question">Q1. Cleansing is important because it removes 
      <u id="blank1">___</u>, 
      <u id="blank2">___</u>, and 
      <u id="blank3">___</u>.
    </p>
  </div>

  <form class="quiz-options">
    <label class="quiz-option">
      <input type="checkbox" value="Dirt"> Dirt
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Excess Oil"> Excess Oil
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Makeup"> Makeup
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Dead Hair"> Dead Hair
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Nail Polish"> Nail Polish
    </label>
  </form>

  <p id="result-msg" style="font-weight: bold; margin-top: 20px;"></p>
  <!-- <div id="quizMessage" class="quiz-message" style="display: none;"></div> -->

  <button class="back-btn" onclick="history.back()">← Back</button>

  <button id="tryAgainBtn" class="tryAgain-btn" style="display: none; margin-top: 20px;" onclick="resetQuiz()">Try again</button>
  <button id="nextBtn" class="back-btn" style="margin-top: 20px; float:right;" onclick="goToNext()">Next-></button>


</div>
{% endblock %}