{% extends "index.html" %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<style>
  .next-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background-color: #770fdb;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.next-btn:hover {
  background-color: #5f09b0;
  color: white;  /* ✅ force white text on hover */
}

</style>

<div class="quiz-container">
  <div class="quiz-header">
    <h1>QUIZ</h1>
    <p>This or That?</p>
    <p class="question">Q2. Which product is more hydrating and great for dull or dehydrated skin?
    </p>
  </div>

  <form class="quiz-options image-options">
    <label class="image-option">
      <input type="radio" name="product" value="Toner">
      <div class="img-wrapper">
        <img src="{{ url_for('static', filename='images/toner.png') }}" alt="Toner">
        <div class="tick-overlay">✔</div>
      </div>
      <span>Toner</span>
    </label>
  
    <label class="image-option">
      <input type="radio" name="product" value="Essence">
      <div class="img-wrapper">
        <img src="{{ url_for('static', filename='images/essence.png') }}" alt="Essence">
        <div class="tick-overlay">✔</div>
      </div>
      <span>Essence</span>
    </label>
  </form>
  

  <p id="result-msg" style="font-weight: bold; margin-top: 20px;"></p>
  <!-- <div id="quizMessage" class="quiz-message" style="display: none;"></div> -->

  <button class="back-btn" onclick="history.back()">← Back</button>

  <button id="tryAgainBtn" class="tryAgain-btn" style="display: none; margin-top: 20px;" onclick="resetQuiz()">Try again</button>
  <button id="nextBtn" class="back-btn" style="display: none; margin-top: 20px; float:right;" onclick="goToNext()">Next-></button>


</div>
{% endblock %}