{% extends "index.html" %}

{% block content %}


<div class="quiz-container">
  <div class="quiz-header">
    <center><h1>YOUR QUIZ RESULTS</h1></center>
    <div class="final-score">
      <h2>Your Score: {{ total_score }}/10</h2>
    </div>
  </div>
  <div class="results-container">
    <h1 class="results-title">Your Quiz Results</h1>

    {% for q in questions %}
    <div class="result-card">
      <h3>Q{{ loop.index }}. {{ q.question }}</h3>
      <p><strong>Correct Answer{{ q.correct_answer | length > 1 and 's' or '' }}:</strong> {{ q.correct_answer | join(', ') }}</p>
      <p><strong>Your Answer{{ q.user_answer | length > 1 and 's' or '' }}:</strong> {{ q.user_answer | join(', ') }}</p>
      <span class="score-tag {{ 'correct' if q.is_correct else 'wrong' }}">
        {{ '+1' if q.is_correct else '+0' }}
      </span>
    </div>
    {% endfor %}

    

    <!-- <a href="/" class="back-btn">← Back to Home</a> -->
  </div>

  <!-- <form class="quiz-options">
    <label class="quiz-option">
      <input type="checkbox" value="Dirt"> Dirt
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Excess Oil"> Excess Oil
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Makeup"> Makeup
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Dead Hair"> Dead Hair
    </label>
    <label class="quiz-option">
      <input type="checkbox" value="Nail Polish"> Nail Polish
    </label>
  </form>

  <p id="result-msg" style="font-weight: bold; margin-top: 20px;"></p>

  <button class="back-btn" onclick="history.back()">← Back</button>

  <button id="tryAgainBtn" class="tryAgain-btn" style="display: none; margin-top: 20px;" onclick="resetQuiz()">Try again</button>
  <button id="nextBtn" class="back-btn" style="display: none; margin-top: 20px; float:right;" onclick="goToNext()">Next-></button> -->


  <!-- <center>
    <button id="buildroutine" type="button" class="btn btn-outline-success"><a href="/build-routine">Build Your Routine-></a></button>
  </center> -->
  <!-- <a href="/build-routine" class="build-routine-btn">BUILD YOUR<br>ROUTINE →</a> -->
  <div class="nav-buttons">
    <a href="/" class="prev-step-btn">← Back to Home</a>
    <a href="/build-routine" class="build-routine-btn" id="buildroutine">BUILD YOUR<br>ROUTINE →</a>
  </div>  
  

</div>

<script>
  fetch("/save-progress", {
    method: "POST",
    headers: { "Content-Type": "application/json" }
  }).then(res => res.json())
    .then(data => console.log("Progress saved:", data))
    .catch(err => console.error("Error saving progress:", err));
</script>

{% endblock %}