{% extends "index.html" %}

{% block content %}

    <center>

    <h1 id="routinetopic">Build your {{step}}-step routine</h1><br>
    <h4>Based on the range of products that we learnt, build a routine that make the most sense for your needs</h4><br><br>
    <h6>(Drag and drop the products in the correct boxes)</h6><br>

    </center>


  <div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-12">
            <div class="row">
                <div id='box1' class="col-md-4 col-4 d-flex align-content-stretch flex-wrap">STEP 1</div>
                <div id='box2' class="col-md-4 col-4 d-flex align-content-stretch flex-wrap">STEP 2</div>
                <div id='box3' class="col-md-4 col-4 d-flex align-content-stretch flex-wrap">STEP 3</div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-12">
            <div class="row">
                <div id='cleanser-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='cleanser'><img class="product-images" title='Face cleanser' src='/static/images/cleanser2.png' alt="cleanser"></div></div>
                <div id='toner-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='toner'><img class="product-images" title='Face toner' src='/static/images/toner.png' alt="toner"></div></div>
                <div id='essence-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='essence'><img class="product-images" title='Essence' src='/static/images/essence.png' alt="essence"></div></div>
                <div id='eye-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='eye'><img class="product-images" title='Eye cream' src='/static/images/eye_cream.png' alt="eye cream"></div></div>
                <div id='moisturizer-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='moisturizer'><img class="product-images" title='Moisturizer' src='/static/images/moisturizer.png' alt="moisturizer"></div></div>
                <div id='sunscreen-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='sunscreen'><img class="product-images" title='Sunscreen' src='/static/images/sunscreen.png' alt="sunscreen"></div></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6 col-12">
            <div class="row">
                <div id='serum-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='serum'><img class="product-images" title='Serum' src='/static/images/serum.png' alt="serum"></div></div>
                <div id='spot-box'  class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap"><div id='spot'><img class="product-images" title='Spot treatment' src='/static/images/spot_treatment.png' alt="spot treatment"></div></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


  
  <br><br>
  
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-7 col-12">
        <div class="row">
            <button type="button" class="reset btn btn-secondary col-md-2 col-2" onclick="window.location.reload()">Reset</button>
            <button type="button" class="evaluate btn btn-primary btn-lg col-md-2 col-2" onclick="eval()">Evaluate</button>
            <span id="routinestatus" class="default col-md-4 col-12"></span>
        </div>
    </div>
    <div class="col-md-1">
      <button type="button" class="finish btn btn-outline-success" disabled><a href="/finish">Finish</a></button>
    </div>
  </div>
</div>
{% endblock %}