{% extends "index.html" %}

{% block content %}

<br>
<center><h2>Here's a summary of your routine with ingredients to look for for your skintype....</h2></center>

<div id="3step"></div>

<br>

<div id="5step"></div>

<br><br><br><br>
<center><a id="routine-status" style="color: #770fdb; font-size: large;"></a></center>
<br><br>

<button style="margin-left: 90%; width: 100px;" type="button" class="btn btn-primary btn-lg" id="finish2" onclick="window.location.href='/finish'">Finish</button>

<br><br><br><br>
<style>

    

    #finish2 {
        background-color: #770fdb;
        color: white;
        width: 150px;
        border: none !important;
        border-radius: 5px;
        box-shadow: none !important;
    }

    #finish2:hover {
        background-color: #5b07aa !important;
    }

    #routine-status:hover {
        color: #5b07aa !important;
    }

    #finish2.clicked {
        background-color: #5b07aa;
        box-shadow: 0 0 15px #bb81f1 !important;
    }

</style>
<script>
    document.getElementById("finish2").addEventListener("click", function () {
    this.classList.add("clicked");

    // Remove the class after 1 second (1000 ms)
    setTimeout(() => {
        this.classList.remove("clicked");
    }, 1000);
    });

    routine_summary();

function routine_summary() {
  let box1 = sessionStorage.getItem('box1');
  let box2 = sessionStorage.getItem('box2');
  let box3 = sessionStorage.getItem('box3');
  let boxx1 = sessionStorage.getItem('boxx1');
  let boxx2 = sessionStorage.getItem('boxx2');
  let boxx3 = sessionStorage.getItem('boxx3');
  let boxx4 = sessionStorage.getItem('boxx4');
  let boxx5 = sessionStorage.getItem('boxx5');

  skintype = sessionStorage.getItem("skintype");
  skintype = skintype.charAt(0).toUpperCase() + skintype.slice(1);

  let routine_data = [];
  fetch("/data")
  .then(res => res.json())
  .then(data => {
    routine_data = data.routine_steps;
    if (box1 && box2 && box3) {
      document.getElementById("3step").innerHTML=`<br><br><center><h3 style="color: #770fdb;">3-step</h3></center>`;

      document.getElementById("3step").innerHTML+=`<div id='step-container' class="step-container">`;
      updateSummary ("step-container", box1, routine_data, skintype);
      updateSummary ("step-container", box2, routine_data, skintype);
      updateSummary ("step-container", box3, routine_data, skintype);
      document.getElementById("3step").innerHTML+=`</div>`;
    }
  
    if (boxx1 && boxx2 && boxx3 && boxx4 && boxx5) {

      document.getElementById("5step").innerHTML=`<br><br><center><h3 style="color: #770fdb;">5-step</h3></center>`;

      document.getElementById("5step").innerHTML+=`<div id='step-container2' class="step-container2">`;

      updateSummary ("step-container2", boxx1, routine_data, skintype);
      updateSummary ("step-container2", boxx2, routine_data, skintype);
      updateSummary ("step-container2", boxx3, routine_data, skintype);
      updateSummary ("step-container2", boxx4, routine_data, skintype);
      updateSummary ("step-container2", boxx5, routine_data, skintype);
      document.getElementById("5step").innerHTML+=`</div>`;

    }

    if (!box1 && !boxx1) {
      document.getElementById("routine-status").text = "Want to build a routine?";
      document.getElementById("routine-status").href = "/build-routine";
    } else if (box1 && !boxx1) {
      document.getElementById("routine-status").text = "Want to build a 5-step routine?";
      document.getElementById("routine-status").href = "/build-routine/5";
    } else if (!box1 && boxx1) {
      document.getElementById("routine-status").text = "Want to a 3-step routine?";
      document.getElementById("routine-status").href = "/build-routine/3";
    }
  });

}

function updateSummary (idx, box, routine_data, skintype) {
  let ind = routine_order[box];
  let { step, description, benefit, image, skin_type_ingredients, key_ingredients } = routine_data[ind];
  box = box.charAt(0).toUpperCase() + box.slice(1);
  document.getElementById(idx).innerHTML+=`<div class="box-wrapper">
      <div class="products-summary"><img class='img-routine' title=${box} src='/static/${image}' alt=${box}></div>
      <label class="box-label" style="font-weight:bold; font-size:16px">${box}</label>
      <label class="box-label">Look for - <span style="color: purple;">${skin_type_ingredients[skintype]}</span></label>
    </div>`;
}

  </script>
{% endblock %}