{% extends "index.html" %}

{% block content %}

    <center>

    <h1 id="routinetopic">Build your 3-step routine</h1><hr>
    <h3>Based on the range of products that we learnt, build a routine that make the most sense for your needs</h3><br><br>
    <h6>(Drag and drop the products in the correct boxes)</h6><br>

    </center>


  <div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-12">
            <div class="row">
                <div id='box1' class="col-md-4 col-4 d-flex align-content-stretch flex-wrap">STEP 1</div>
                <div id='box2' class="col-md-4 col-4 d-flex align-content-stretch flex-wrap">STEP 2</div>
                <div id='box3' class="col-md-4 col-4 d-flex align-content-stretch flex-wrap">STEP 3</div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-12">
            <div class="row">
                <div id='cleanser' class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap">Cleanser</div>
                <div id='toner' class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap">Toner</div>
                <div id='essence' class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap">Essence</div>
                <div id='eye' class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap">Eye Cream</div>
                <div id='moisturizer' class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap">Moisturizer</div>
                <div id='sunscreen' class="products col-md-2 col-2 d-flex align-content-stretch flex-wrap">Sunscreen</div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

  
  <br><br>
  
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-7 col-12">
        <div class="row">
            <button type="button" class="reset btn btn-secondary col-md-2 col-2" onclick="window.location.reload()">Reset</button>
            <button type="button" class="evaluate btn btn-primary btn-lg col-md-2 col-2" onclick="eval()">Evaluate</button>
            <span id="routinestatus" class="col-md-4 col-12"></span>
        </div>
    </div>
    <div class="col-md-1">
      <button type="button" class="finish btn btn-outline-success" disabled><a href="/finish">Finish</a></button>
    </div>
  </div>
</div>
{% endblock %}