{% extends "index.html" %}

{% block content %}
<center>
  <style>
    .btn-selected2, input[type="radio"]:checked + label {
      background-color: #770fdb !important; /* Bootstrap primary color */
      color: white !important;
      border: 2px solid #5b07aa !important; /* Darker blue border */
      box-shadow: 0 0 15px #bb81f1 !important;/* Optional glow effect */
    }
  </style>

<h1 id="skintypeheader">Let's find your Skin type by answering the following questions</h1><br>
    
    <form method="post" id="skin-type-form2">

    <fieldset>

    <div><br><br>
        <h4 style="color: #444;">What best describes the look of your pores?</h4><br>
        <p>(Select an option that best describes you)</p><br><br>
      </div>
        
      <div class="skintype2-group">  
        <input type="radio" id="12" class="btn-check" name="skintype2" value="1">
        <label class="btn btn-outline-primary" for="12"><span id="skintype2span">Small and barely visible</span></label><br><br>
        <input type="radio" id="22" class="btn-check" name="skintype2" value="2">
        <label class="btn btn-outline-primary" for="22"><span id="skintype2span">Large and visible in T-zone</label></span><br><br>
        <input type="radio" id="32" class="btn-check" name="skintype2" value="3">
        <label class="btn btn-outline-primary" for="32"><span id="skintype2span">Large and visible all over</span></label>
    </div>
      </fieldset>
      <br><br><br>
    </form>
        <br><br>
        <button class="back-btn" onclick="history.back()" style="margin-left: 0%;">← Back</button> <button onclick="submitskin2(event)" type="submit" class="findskin-btn">Next</button>



  <script>
    $(".btn").click(function() {
      $(".btn").removeClass("btn-selected2");
      $(this).addClass("btn-selected2");
    });
  </script>
</center>
{% endblock %}